body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #DACFE5;
	margin: 5px;
	text-align: left;
	color: #523819;
}

h1 {
	font-size: 140%;
	color: #0D3427;
	margin: 10px;
}

img {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	border: 0px;
}
