BusinessCard {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #dacfe5;
  width: 300px;
  display: block;
  padding: 10pt;
  border: 1px solid #0d3427;
  margin: 5px;
  text-align: left;
}

Name {
  color: blueviolet;
  font-weight: bold;
  font-size: 140%;
  display: block;
  margin-bottom: 3%;
}

phone {
  color: brown;
  font-weight: bold;
  font-size: 110%;
  display: block;
}

email {
  color: green;
  font-size: 110%;
  font-weight: bold;
  display: block;
  margin-top: 3%;
}
